{
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb"
  ],
  "globals": {
    "Promise": true,
    "_": true,
    "request": true,
    "logicBroker": true,
    "Dialog": true
  },
  "rules": {
    "no-param-reassign": 0
  }
}
